@model FinalProject.Models.Week;

@{
    ViewData["Title"] = "Menu Planner";
}

<div class="container-fluid text-center">
    <h1>Weekly Meal Planner</h1>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-sm-6">
            <a asp-controller="Menu" asp-action="AddToPlanner" id="">Plan A Meal</a>
        </div>
        <div class="col-sm-6">
            <button type="submit">Clear</button>
        </div>
    </div>
</div>


<div class="container-fluid">
    @if(Model != null)
    {
        <div class="container-fluid">
            <form asp-controller="Menu" asp-action="MenuPlanner" method="post">
            <div class="container-fluid">
                <h2>Monday</h2>
                <table>
                    <tr>
                        <th>Meal</th>
                        <th>Meal Title</th>
                        <th>Guests</th>
                        <th>Notes</th>
                        <th>Delete</th>
                    </tr>
                    <tr>
                        <td>Breakfast</td>
                        <td>@Model.Monday.Breakfast.MealTitle</td>
                        <td>@Model.Monday.Breakfast.Guests</td>
                        <td>@Model.Monday.Breakfast.MealNotes</td>
                        <td><button type="submit" name="delete" value="00">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>@Model.Monday.Lunch.MealTitle</td>
                        <td>@Model.Monday.Lunch.Guests</td>
                        <td>@Model.Monday.Lunch.MealNotes</td>
                        <td><button type="submit" name="delete" value="10">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Dinner</td>
                        <td>@Model.Monday.Dinner.MealTitle</td>
                        <td>@Model.Monday.Dinner.Guests</td>
                        <td>@Model.Monday.Dinner.MealNotes</td>
                        <td><button type="submit" name="delete" value="20">Delete</button></td>
                    </tr>
                </table>
            </div>

            <div class="container-fluid">
                <h2>Tuesday</h2>
                <table>
                    <tr>
                        <th>Meal</th>
                        <th>Meal Title</th>
                        <th>Guests</th>
                        <th>Notes</th>
                    <tr>
                        <td>Breakfast</td>
                        <td>@Model.Tuesday.Breakfast.MealTitle</td>
                        <td>@Model.Tuesday.Breakfast.Guests</td>
                        <td>@Model.Tuesday.Breakfast.MealNotes</td>
                        <td><button type="submit" name="delete" value="01">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>@Model.Tuesday.Lunch.MealTitle</td>
                        <td>@Model.Tuesday.Lunch.Guests</td>
                        <td>@Model.Tuesday.Lunch.MealNotes</td>
                        <td><button type="submit" name="delete" value="11">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Dinner</td>
                        <td>@Model.Tuesday.Dinner.MealTitle</td>
                        <td>@Model.Tuesday.Dinner.Guests</td>
                        <td>@Model.Tuesday.Dinner.MealNotes</td>
                        <td><button type="submit" name="delete" value="21">Delete</button></td>
                    </tr>
                </table>
            </div>

            <div class="container-fluid">
                <h2>Wednesday</h2>
                <table>
                    <tr>
                        <th>Meal</th>
                        <th>Meal Title</th>
                        <th>Guests</th>
                        <th>Notes</th>
                    </tr>
                    <tr>
                        <td>Breakfast</td>
                        <td>@Model.Wednesday.Breakfast.MealTitle</td>
                        <td>@Model.Wednesday.Breakfast.Guests</td>
                        <td>@Model.Wednesday.Breakfast.MealNotes</td>
                        <td><button type="submit" name="delete" value="02">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>@Model.Wednesday.Lunch.MealTitle</td>
                        <td>@Model.Wednesday.Lunch.Guests</td>
                        <td>@Model.Wednesday.Lunch.MealNotes</td>
                        <td><button type="submit" name="delete" value="12">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Dinner</td>
                        <td>@Model.Wednesday.Dinner.MealTitle</td>
                        <td>@Model.Wednesday.Dinner.Guests</td>
                        <td>@Model.Wednesday.Dinner.MealNotes</td>
                        <td><button type="submit" name="delete" value="22">Delete</button></td>
                    </tr>
                </table>
            </div>

            <div class="container-fluid">
                <h2>Thursday</h2>
                <table>
                    <tr>
                        <th>Meal</th>
                        <th>Meal Title</th>
                        <th>Guests</th>
                        <th>Notes</th>
                    </tr>
                    <tr>
                        <td>Breakfast</td>
                        <td>@Model.Thursday.Breakfast.MealTitle</td>
                        <td>@Model.Thursday.Breakfast.Guests</td>
                        <td>@Model.Thursday.Breakfast.MealNotes</td>
                        <td><button type="submit" name="delete" value="03">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>@Model.Thursday.Lunch.MealTitle</td>
                        <td>@Model.Thursday.Lunch.Guests</td>
                        <td>@Model.Thursday.Lunch.MealNotes</td>
                        <td><button type="submit" name="delete" value="13">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Dinner</td>
                        <td>@Model.Thursday.Dinner.MealTitle</td>
                        <td>@Model.Thursday.Dinner.Guests</td>
                        <td>@Model.Thursday.Dinner.MealNotes</td>
                        <td><button type="submit" name="delete" value="23">Delete</button></td>
                    </tr>
                </table>
            </div>

            <div class="container-fluid">
                <h2>Friday</h2>
                <table>
                    <tr>
                        <th>Meal</th>
                        <th>Meal Title</th>
                        <th>Guests</th>
                        <th>Notes</th>
                    </tr>
                    <tr>
                        <td>Breakfast</td>
                        <td>@Model.Friday.Breakfast.MealTitle</td>
                        <td>@Model.Friday.Breakfast.Guests</td>
                        <td>@Model.Friday.Breakfast.MealNotes</td>
                        <td><button type="submit" name="delete" value="04">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>@Model.Friday.Lunch.MealTitle</td>
                        <td>@Model.Friday.Lunch.Guests</td>
                        <td>@Model.Friday.Lunch.MealNotes</td>
                        <td><button type="submit" name="delete" value="14">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Dinner</td>
                        <td>@Model.Friday.Dinner.MealTitle</td>
                        <td>@Model.Friday.Dinner.Guests</td>
                        <td>@Model.Friday.Dinner.MealNotes</td>
                        <td><button type="submit" name="delete" value="24">Delete</button></td>
                    </tr>
                </table>
            </div>

            <div class="container-fluid">
                <h2>Saturday</h2>
                <table>
                    <tr>
                        <th>Meal</th>
                        <th>Meal Title</th>
                        <th>Guests</th>
                        <th>Notes</th>
                    </tr>
                    <tr>
                        <td>Breakfast</td>
                        <td>@Model.Saturday.Breakfast.MealTitle</td>
                        <td>@Model.Saturday.Breakfast.Guests</td>
                        <td>@Model.Saturday.Breakfast.MealNotes</td>
                        <td><button type="submit" name="delete" value="05">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>@Model.Saturday.Lunch.MealTitle</td>
                        <td>@Model.Saturday.Lunch.Guests</td>
                        <td>@Model.Saturday.Lunch.MealNotes</td>
                        <td><button type="submit" name="delete" value="15">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Dinner</td>
                        <td>@Model.Saturday.Dinner.MealTitle</td>
                        <td>@Model.Saturday.Dinner.Guests</td>
                        <td>@Model.Saturday.Dinner.MealNotes</td>
                        <td><button type="submit" name="delete" value="25">Delete</button></td>
                    </tr>
                </table>
            </div>

            <div class="container-fluid">
                <h2>Sunday</h2>
                <table>
                    <tr>
                        <th>Meal</th>
                        <th>Meal Title</th>
                        <th>Guests</th>
                        <th>Notes</th>
                    </tr>
                    <tr>
                        <td>Breakfast</td>
                        <td>@Model.Sunday.Breakfast.MealTitle</td>
                        <td>@Model.Sunday.Breakfast.Guests</td>
                        <td>@Model.Sunday.Breakfast.MealNotes</td>
                        <td><button type="submit" name="delete" value="06">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Lunch</td>
                        <td>@Model.Sunday.Lunch.MealTitle</td>
                        <td>@Model.Sunday.Lunch.Guests</td>
                        <td>@Model.Sunday.Lunch.MealNotes</td>
                        <td><button type="submit" name="delete" value="16">Delete</button></td>
                    </tr>
                    <tr>
                        <td>Dinner</td>
                        <td>@Model.Sunday.Dinner.MealTitle</td>
                        <td>@Model.Sunday.Dinner.Guests</td>
                        <td>@Model.Sunday.Dinner.MealNotes</td>
                        <td><button type="submit" name="delete" value="26">Delete</button></td>
                    </tr>
                </table>
            </div>
            </form>
        </div>
    }
</div>
